.adminFilms__container {
  display: flex;
}

.filmsList {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 2%;
  width: 84%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.addFilm__button {
    position: absolute !important;
    left: 10px;
    background-color:#eb1c23 !important;
}