.filter__container {
    flex-grow: 2;
}

.filter__card {
    background-color: #fff;
    width: 80%;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    margin: 4% auto 0 auto;
    padding: 2%;
}

.MuiSelect-select-100 {
    input {
        width: 100% !important;
    }
}

.MuiInput-underline-16:after {
    border-bottom-color: #eb1c23 !important;
}