.session__card {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 2% 4% 2% 3%;
  padding: 3% 1%;
}

.session__info {
  text-align: center;
  margin: 2% 0;

  span {
    color: #aaaaaa;
    font-size: 1em;
  }
}
