$bgColor: #fff;
$color: #eb1c23;


header {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: $bgColor;
    max-height: 10vh;
    display: flex;
}


.logo {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    span {
        font-size: 2em;
        font-weight: bold;
    }
}

.header__user {
    flex-grow: 5;
    padding: 2%;
    border: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        background-color: $bgColor;
        border: none;
        font-size: 1.4em;
        &:hover {
            color: $color;
            transition: .3 all ease;
        }

    }
}